

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  background-color: #848182;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button{
  margin: 13px 0 0 0;
  font-family : inherit;
  font-size   : 70%;
}
 
.App-input{
  margin: 0 0 0 10px;
}

.App-input-check{
  margin: 5px 0 0 20px;
  width: 20px;
  height: 20px;
}

.App-input-file{
  margin: 5px 0 0 20px;
}

.App-input-submit{
  margin: 20px 0 20px 300px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: #282c34;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}

.App-select{
  margin: 0 0 0 10px;
  width: 150px;
}

.App-footer{
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-textarea{
  margin: 0 0 0 10px;
}

.App-form{
  color: #848182;
  background-color: #D3D6D6;
  margin: 20px 20px 20px 300px;
  width: 700px;
}

.App-label{
  margin: 20px 0 0 20px;
  min-height: 5vh;
  display: flex;
}

.App-image{
  margin: 20px 20px 20px 20px;
  width: 400px;
}
